@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
}

@layer utilities {
   .scrollWindow::-webkit-scrollbar {
      display: none;
   }
   .scrollWindow {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }
}
